dub.json
*.bin
*.exp
*.dll
*.exe.json
*.dll.json
*.dll.def
*.exe.cbp
*.dll.cbp
*.lib.cbp
*.selections
*.save-failed
/dlangui-*
*.src
_*
*___*
Makefile*
.dub
dub.selections.json
debug
release
*.bak
*.exe
*.o
*.obj
*.lib
*.lst
*.map
*.pro.user
easy_win_*
dlltest.dll
mylib.dll
.vs
*.VC.db
*.VC.VC.opendb
*.vcxproj.filters
*.vcxproj.user
*.cbproj.local
__astcache
*.res
*.stat
.install*
*.mk
*.mk.Debug
*.mk.Release
temp_*
mylib.di
.qmake.stash
*.bld
CMakeLists.txt
*.layout
*.depend
emake.cbp
emake.xml
!edub.exe
!emake-qt.exe
