Makefile*
.dub
dub.selections.json
debug
release
*.bak
*.exe
*.o
*.obj
*.lib
*.lst
*.map
*.pro.user
easy_win_*
dlltest.dll
mylib.dll
.vs
*.VC.db
*.VC.VC.opendb
*.vcxproj.filters
*.vcxproj.user
*.cbproj.local
__astcache
*.res
*.stat
